<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div style="max-width: 300px; max-height: 300px;"
    class="carousel-item active " *ngFor="let carImage of carImages">
      <img  src="https://localhost:44329/uploads/Images/{{carImage.imagePath}}" class="d-block w-100" alt="...">
    </div>
    <div style="max-width: 300px; max-height: 300px;"
     class="carousel-item active" *ngIf="carImages.length == 0" >
      <img src="https://localhost:44329/uploads/default.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
 
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
