<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Car Name</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let carDetailDto of carDetailsDto">
    <td>{{ carDetailDto.name }}</td>
    <td>{{ carDetailDto.brandName }}</td>
    <td>{{ carDetailDto.colorName }}</td>
    <td>{{ carDetailDto.modelYear }}</td>
    <td>{{ carDetailDto.dailyPrice }}</td>
    <td>{{ carDetailDto.description }}</td>
  </tr>
</table>
